<head>
  <meta charset="utf-8" />
  <title>Laporan PKL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="/img/icons/icon-128x128.png" />

  <!-- manifest -->
  <link rel="manifest" href="/manifest.json" />

  <!-- pwa -->
  <link rel="apple-touch-icon" href="/img/icons/icon-128x128.png" />
  <meta name="apple-mobile-web-app-status-bar" content="#a4b0a6" />
  <meta name="theme-color" content="#a4b0a6" />

  <!-- Meta tags for SEO and social sharing -->
  <meta name="author" content="Rasyid" />
  <link rel="canonical" href="https://laporan-pkl.glitch.me" />
  <meta name="description" content="Website pembuat laporan pkl otomatis" />
  <meta name="robots" content="index,follow" />
  <meta property="og:title" content="Laporan Pkl" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://laporan-pkl.glitch.me" />
  <meta property="og:description" content="Website pembuat laporan pkl otomatis" />
  <meta property="og:image" content="/img/icons/icon-128x128.png" />
  <meta name="twitter:card" content="summary" />

  <!-- Main Theme -->
  <!-- All Generated styles form dashlite -->
  <link rel="stylesheet" href="/assets/css/dashlite.css" />
  <!-- Premade Skin style -->
  <link rel="stylesheet" href="/assets/css/skins/theme-purple.css" />

  <!-- Plugin & Third Party -->
  <!-- Your Plugin Here -->

  <!-- global css -->
  <link rel="stylesheet" href="/css/global.css" />
</head>
